name: self-test-action

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  action:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        name: Checkout

      - name: Send normal email
        uses: licenseware/send-email-notification@ba4d621b8071939e7b586e1aa6e0479b95ad449c
        with:
          api-key: ${{ secrets.SENDGRID_API_KEY }}
          subject: self-test-1 | ${{ github.repository }}:${{ github.ref_name }}-${{ github.run_id }}
          from-email: ${{ secrets.SENDGRID_FROM_EMAIL }}
          to-email: ${{ secrets.SENDGRID_TO_EMAIL }}
          markdown-body: |
            # Hello World

            This is a test email from self-test-action

      - name: Send email with attachments
        uses: licenseware/send-email-notification@ba4d621b8071939e7b586e1aa6e0479b95ad449c
        with:
          api-key: ${{ secrets.SENDGRID_API_KEY }}
          subject: self-test-2 | ${{ github.repository }}:${{ github.ref_name }}-${{ github.run_id }}
          from-email: ${{ secrets.SENDGRID_FROM_EMAIL }}
          to-email: ${{ secrets.SENDGRID_TO_EMAIL }}
          markdown-body: |
            # Hello again

            Check the following sources
          attachments: |
            Dockerfile
            main.py
          attachments-disposition: inline
